.App {
  text-align: center;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.canvas-drower{
  width: 400px;
  position: absolute;
  top: 134px;
  left: 41%;
  z-index: 25;
}

.refresh-bt{
  position: absolute !important;
  top: -132px;
  left: 165px;
}

.label{
  color:wheat;
  font-size: 25px;
}

