.App {
  text-align: center;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.canvas-drower{
  width: 400px;
  position: absolute;
  top: 134px;
  left: 41%;
  z-index: 25;
}

.refresh-bt{
  position: absolute;
  top: -132px;
  left: 165px;
}

.label{
  color:wheat;
  
}

.slide-in-tr {
	        animation: slide-in-tr 5s ease-out infinite forwards;
}


@keyframes slide-in-tr {
  0% {
    transform: translateY(-300px) translateX(300px);
  }
 
  50% {
    transform: translateY(-150px) translateX(150px);
  }
  100% {
    transform: translateY(-300px) translateX(300px);
  }
}

@media screen and (max-width: 600px) {
  .canvas-drower {
    left: 3%;
  }
}

