.App {
  text-align: center;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.canvas-drower{
  width: 320px;
  position: absolute;
  top: 134px;
  left: 41%;
  z-index: 25;
}


.label{
  color:wheat;
  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .canvas-drower {
    left: 13%;
  }
}
